.feed-form {
  margin: 0 auto;
  max-width: 535px;
  min-height: 493px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 47px;
  background: #FFF;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.25);
  input {
    max-width: 439px;
    min-height: 50px;
    border-radius: 18px;
    background: #F4F4F4;  
    border: none;
    padding: 15px 0 15px 30px;
    &:first-child {
      margin-top: 80px;
    }

    &[name="text"] {
      padding-bottom: 83px;
      min-height: 119px;
      margin-bottom: 25px;
    }
  }
  .error {
    border: 1px solid red;
    margin-bottom: 15px;
  }
}
#name-error, #phone-error {
  text-align: center;
  color: $main-color;
  border: none;
}
input::placeholder {
  white-space: pre-line; 
}