.feed-form {
  margin: 0 auto;
  max-width: 535px;
  min-height: 493px;
  border-radius: 45px;
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 47px;
  input {
    max-width: 439px;
    min-height: 50px;
    border-radius: 18px;
    background: #F4F4F4;  
    border: none;
    padding: 15px 0 15px 30px;
    &:nth-child(1) {
      margin-top: 80px;
    }
    &:nth-child(3) {
      padding-bottom: 83px;
      min-height: 119px;
      margin-bottom: 40px;
    }
  }

}
.feed-form-b {
  margin-bottom: 166px;
}