.free {
  background: url(../img/windowsphone.jpg) center center/cover no-repeat;
  padding-bottom: 166px;
  &__header {
    margin-bottom: 114px;
    text-align: center;
    color: $main-color;
    font-family: Playfair Display SC, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
  }
  .button {
    margin-bottom: 40px;
  }
}