.reviews__wraper-block-img:hover {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  display: block;
  z-index: 10;
}

// .reviews__wraper-block-img {
//   &-olga {
//    &:hover {
//      background: url(../img/reviews/imageolga.png) center center/cover no-repeat;
    
//    }
//   }
//   &-nasta {
//    &:hover {
//      background: url(../img/reviews/imagenasta.png) center center/cover no-repeat;
//    }
//   }
//   &-dmitry {
//    &:hover {
//      background: url(../img/reviews/imagedmitry.png) center center/cover no-repeat;
//    }
//   }
//   &-elena {
//    &:hover {
//      background: url(../img/reviews/imageelena.png) center center/cover no-repeat;
//    }
//   }
//   &-sergey {
//    &:hover {
//      background: url(../img/reviews/imagesergey.png) center center/cover no-repeat;
//    }
//   }
// }


.reviews__wraper-block {
  &-olga {
   &:hover {
     background: url(../img/reviews/imageolga.png) center center/cover no-repeat;
     color: transparent;
     .reviews__wraper-block-img {
      display: none;
   }
   }
  }
  &-nasta {
   &:hover {
     background: url(../img/reviews/imagenasta.png) center center/cover no-repeat;
     color: transparent;
     .reviews__wraper-block-img {
      display: none;
   }
   }
  }
  &-dmitry {
   &:hover {
     background: url(../img/reviews/imagedmitry.jpg) center center/cover no-repeat;
     color: transparent;
     .reviews__wraper-block-img {
      display: none;
   }
   }
  }
  &-elena {
   &:hover {
     background: url(../img/reviews/imageelena.jpg) center center/cover no-repeat;
     color: transparent;
     .reviews__wraper-block-img {
      display: none;
   }
   }
  }
  &-sergey {
   &:hover {
     background: url(../img/reviews/imagesergey.png) center center/cover no-repeat;
     color: transparent;
     .reviews__wraper-block-img {
      display: none;
   }
   }
  }
}