.reviews__wraper-block-img:hover {
  cursor: pointer;
}
.reviews__wraper-block-img:active {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  display: block;
  z-index: 10;
}