.reviews__wraper-block-img:hover {
  cursor: pointer;
  color: #556BF5;
}
.reviews__wraper-block-img:active {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  display: block;
  z-index: 10;
}

.reviews__wraper-block-img {
  &-olga {
   &:active {
     background: url(../img/main.jpg) center center/cover no-repeat;
   }
  }
}