.overla {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba($color: #000000, $alpha: .56);
  z-index: 11;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-height: 400px;
  background-color: transparent;
  z-index: 12;
  &__close {
    position: absolute;
    top: -14px;
    right: -40px; 
    font-size: 64px;
    line-height: 21px;
    color: #556BF5; 
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  &_mini {
    width: 300px;
    padding-top: 33px;
    min-height: 140px;
    background-color: #fff;
    border-radius: 20px;
  }
  .error {
    border: 1px solid red;
    margin-bottom: 15px;
  }
  label.error {
    border: none;
  }
  &__subtitle {
    color: #0D0D0D;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  &__descr {
    color: #0D0D0D;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }
}


#consultation, #order, #thanks {
  display: none;
}
