.promo {
  width: 100%;
  min-height: 700px;
  margin-bottom: 93px;
  background: url(../img/main.jpg) center center/cover no-repeat;
  &-grid {
    display: grid;
    grid-template-columns: 588px 1fr;
  }
  &__header {
    padding-top: 79px;
    padding-bottom: 60px;
    color: $main-color;
    font-family: Sansation;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
  }
  &__description {
    padding-bottom: 30px;
    color: $main-color;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
  }
  &__links-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;
    &-item {
      display: flex;
      gap: 10px;
      list-style: none;
      color: #000;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }
  }
  &__image {
    min-width: 20px;
    min-height: 20px;
  }
}

.bet-button {
  max-width: 240px;
  max-height: 60px;
  border-radius: 40px;
  background: #556BF5;
  border: none;
  padding: 19px 40px;
  color: #FFFEFE;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}