.reviews {
   transition: 5s all;
   position: relative;
    &__header {
      text-align: center;
      margin-bottom: 70px;
      color: $main-color;
      font-family: Playfair Display SC, serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__slider-carousel {
      position: relative;
      max-width: 1200px;
      min-height: 264px;
      z-index: 1;
      &-item {
        padding-top: 40px;
        width: 300px;
        margin: 0 70px;
      }
    }
    &__wraper {
      display: inline-block;
      position: relative;
      height: 177px;
      padding-top: 23px;
      &-header {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &-img {
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          background-color: red; 
          margin-bottom: 2px;
          img {
            border-radius: 100%;
          }
        }
        &-name {
          text-align: center;
          font-size: 8px;
          font-weight: 600;
        }
      }
      &-block {
        width: 300px;
        height: 153px;
        border-radius: 30px;
        border: 24px solid #F0F8FA;
        &-text {
          max-height: 92px;
          padding: 14px 13px 34px 13px;
          font-size: 8px;
          font-weight: 400;
          overflow: hidden;
        }
        &-img {
          position: absolute;
          bottom: 16%;
          right: 12%;
          text-decoration: none;
          color: $main-color;
          font-size: 7px;
          font-weight: 400;
        }
      }
    }

  &__slider-controls {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      top: 66%;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;
      z-index: 3;
    }

  .slick-prev2, .slick-next2 {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: transparent;
    z-index: 8;
  }
}

.custom-center-style {
  .reviews {
    transition:5s all;
    position: relative;
    &__slider-carousel {
      &-item {
        width: 450px;
        min-height: 264px;
        margin: 0 35px;
      }
    }
    &__wraper {
      display: inline-block;
      position: relative;
      min-height: 264px;
      padding-top: 34px;
      &-header {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &-img {
          display: block;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background-color: red;
          margin-bottom: 5px;
        }
        &-name {
          text-align: center;
          font-size: 11px;
          font-weight: 600;
        }
      }
      &-block {
        width: 450px;
        min-height: 230px;
        border-radius: 30px;
        border: 36px solid #F0F8FA;
        &-text {
          max-height: 135px;
          padding: 10px;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
          overflow: hidden;
          word-wrap: break-word;
        }
        &-img {
          position: absolute;
          bottom: 14%;
          right: 10%;
          text-decoration: none;
          color: $main-color;
          font-size: 11px;
          font-weight: 400;
        }
      }
    }
  }
}