.slider {
  padding: 0 107px;
  margin-bottom: 100px;
  &__header {
    padding-bottom: 64px;
    text-align: center;
    color: $main-color;
    font-family: Playfair Display SC, serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__carousel {
    &-item {
      margin: 0 15px;
      width: 306px;
      height: 500px;
      border-radius: 50px;
      background-color: red;
    }
  }
}

.slick-prev, .slick-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}
.slick-next {
  right: -66px;
  left: auto;
}