@media (max-width: 768px) {
  .content-section {
    max-width: 540px;
  }
  .header {
    padding: 17px;
    gap: 35px;
    &__links-list {
      position: absolute;
      display: none;
      top: 125px;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      background-color: rgba(0,0,0,.8);
      gap: 10px;
      &_active {
        display: block;
      }
      &-item {
        color: #fff;
        font-size: 25px;
        padding: 13px;
        text-align: center;
        &-b {
          display: flex;
        }
      }
    }
    &__social {
      display: none;
    }
    &__logo {
      width: 54px;
      height: 33px;
    }
    &__item {
      gap: 5px; 
    }

    &__hamburger {
      display: block;
      height: 12px;
      span {
        display: block;
        height: 2px;
        width: 26px;
        background-color: #000;
        margin-bottom: 2px;
        transition: 0.5s all;
      }
      &_active {
        span {
          margin-bottom: -2px;
          &:nth-child(1) {
            transform: translateY(3px) rotate(-45deg);
          }
            
          &:nth-child(2) {
            display: none;
          }
            
          &:nth-child(3) {
            transform: translateY(3px) rotate(45deg);
          } 
        }
      }
  }
  }
  
  .promo {
    padding-bottom: 0;
    margin-bottom: 60px;
    height: 500px;
    &-grid {
      grid-template-columns: 1fr;
    }
    &__header {
      text-align: center;
      font-size: 25px;
    }
    &__description {
      display: none;
    }
    &__links-list {
      margin-bottom: 43px;  
      gap: 20px;
      text-align: center;
      &-item {
        font-size: 15px;
      }
    }
    .bet-button {
      margin-left: 30%;
    }
  }

  .slider {
    &__header {
      font-size: 30px;
      padding-bottom: 40px;
    }
    padding: 0;
    &__carousel {
      width: 306px;
      margin: 0 auto;
    }
  }

  .free {
    &__header {
      font-size: 22px;
      margin-bottom: 93px;
    }
  }

  .modal {
    width: 450px;
  }

  .footer {
    &__grid {
      grid-template-columns: 200px 1fr;
    }
    &__links {
      align-items: center;
      &-item {
        text-align: center;

        &:first-child {
          display: none;
        }
      }
    }
    &__addres {
      font-size: 12px;
    }
  }

}
