@media (max-width: 991px) {
  .content-section {
    max-width: 720px;
  }
  .header {
    padding: 17px;
    gap: 85px;
    &__links-list {
      gap: 14px;
      &-item {
        font-size: 13px;
        &-b {
          display: none;
        }
      }
    }
    &__social {
      width: 30px;
      height: 30px;
    }
    &__logo {
      width: 70px;
    }
  }

  .promo {
    &-grid {
      grid-template-columns: 1fr;
    }
    &__header {
      text-align: center;
      font-size: 34px;
    }
    &__description {
      text-align: center;
      font-size: 16px;
    }
    &__links-list {
      gap: 20px;
      text-align: center;
      &-item {
        font-size: 16px;
      }
    }
    .bet-button {
      margin-left: 34%;
    }
  }

  .slider {
    padding: 0;
    &__carousel {
      width: 643px;
      margin: 0 auto;
    }
  }
}