@media (max-width: 1200px) {
  .content-section {
    max-width: 960px;
  }
  .header {
    gap: 80px;
    &__links-list {
      gap: 13px;
      &-item {
        &-b {
          font-size: 16px;
        }
      }
    }
    &__social {
      max-width: 30px;
      max-height: 30px;
    }
  }

  .promo {
    &-grid {
      grid-template-columns: 630px 1fr;
    }
  }

  .slider {
    &__carousel {
      width: 643px;
      margin: 0 auto;
    }
  }

  .footer {
    &__grid {
      grid-template-columns: 300px 1fr;
    }
  }

  .reviews {
    &__slider {
      &-carousel {
        overflow: hidden;
        max-width: 508px;
        margin: 0 auto;
      }
    }

    &__slider-controls {
      width: 555px;
    }
  }
}