@media (max-width: 575px) {
  .content-section {
    max-width: 340px;
  }

  .promo {
    padding-bottom: 20px;
    margin-bottom: 55px;
    height: 500px;
    &-grid {
      grid-template-columns: 1fr;
    }
    &__header {
      text-align: center;
      font-size: 20px;
      padding-top: 60px;
    }
    &__description {
      display: none;
    }
    &__links-list {
      margin-bottom: 53px;  
      gap: 15px;
      text-align: center;
      &-item {
        font-size: 10px;
      }
    }
    .bet-button {
      margin-left: 13%;
    }
  }

  .slider {
    &__header {
      font-size: 25px;
      padding-bottom: 40px;
    }
    padding: 0;
    &__carousel {
      width: 280px;
      margin: 0 auto;
      &-item {
        width: 280px;
      }
    }
  }
}